.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px aqua solid;
    height: fit-content;
    margin: 30px;
    padding: 30px;
}
.project {
    align-self: center;
    width: 75%;
    margin: 0 0 0 0px !important;
    // padding-bottom: 50%;
}