@import 'variables';
$page-padding: 30px;
$column-margin: 15px;

// Placeholders:
%dynamic-sizing{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}
%chart-card{
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    width: 100%;
    height: vh;
    
    .mat-card-content{
        .spinner{
            display: flex;
            width: 100%;
            flex: 1 0 auto;
            justify-content: center;
            align-items: center;
        }
        .chart{
            min-width: 100vh;
            max-height: 33vh;
        }
    }
}

// Page:
.flex-grid{
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding-left:   $page-padding;
    padding-right:  $page-padding;
    padding-bottom: $page-padding;
}
.row {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 0;
    min-height: 0px;

    .col {
        display: flex;
        flex-direction: column;
        min-width: 0; // allows shrinking & growing
        flex: 1 0 0;
        // 30px spacing between elements
        margin: $column-margin;
        .mat-card{
            @extend %dynamic-sizing;
            @extend %chart-card;
        }
    }
}