.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 30px;
    padding: 30px;
}
.project {
    align-self: center;
    width: 75%;
}