<div class="content-container">
  <h1 class="mat-h1">{{ lodash.startCase(projectDataTableType) }} Projects</h1>
  <mat-card>
    <mat-card-header>
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="grow">
        <button class="add-button" [routerLink]="['/project/new']" mat-button>
          <mat-icon>add</mat-icon> Create Project
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <app-projects [projectDataTableType]="projectDataTableType"></app-projects>
    </mat-card-content>
  </mat-card>
</div>
