<div>
<mat-toolbar color="primary">
  <img class="ml-1" src="assets/images/barista-icon.png"/>
  <h1><span class="mat-h1" [routerLink]="['/home']">Barista</span></h1>
  <span class="fill-space"></span>
  <app-help-menu></app-help-menu>
  <span *ngIf="isLoggedIn">
    <button type="button" mat-button (click)="logout()">Logout [{{userName}} ({{role}})]</button>
  </span>
  <span *ngIf="!isLoggedIn">
    <input matInput placeholder="Username" [(ngModel)]="username" name="username" ><br>
    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password">
  </span>
  <button *ngIf="!isLoggedIn" mat-button (click)="signin()" type="submit">Login</button>
</mat-toolbar>
</div>