<div>
<mat-toolbar color="primary">
  <img class="ml-1" src="assets/images/barista-icon.png"/>
  <h1><span class="mat-h1" [routerLink]="['/home']">Barista</span></h1>
  <span class="fill-space"></span>
  <button *ngIf="isLoggedIn" mat-button (click)="dashboardLink()" type="submit">Dashboard</button>
  <button *ngIf="isLoggedIn" mat-button (click)="myProjectLink()" type="submit">Projects</button>
  <app-help-menu></app-help-menu>
  <span *ngIf="isLoggedIn">
    <span>
      <button mat-button [matMenuTriggerFor]="profileMenu">
        <img src="assets/images/person-circle-outline.svg"/>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>
          <span type="button" mat-button (click)="logout()">Logout</span>
        </button>
      </mat-menu>
    </span>
  </span>
  <form>
    <span *ngIf="!isLoggedIn">
      <input matInput placeholder="Username" [(ngModel)]="username" name="username" ><br>
      <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password">
    </span>
    <button *ngIf="!isLoggedIn" mat-button (click)="signin()" type="submit">Login</button>
  </form>
</mat-toolbar>
<mat-toolbar-footer *ngIf="!!message">
  <div class="error-div">
    <strong class="error">{{message}}</strong>
  </div>
</mat-toolbar-footer>
</div>
