@import 'variables';

.content-container {
  margin:20px;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.logo {
  padding: 0px;
  width: 150px;
}

.text {
  font-size : 80%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

input {
  background-color : $accent-color; // from variables
}


.clicked {
  color: $secondary-color;
}

.profileClick {
  content: url("/assets/images/person-circle-outline-click.svg")
}

#error {
  visibility: visible;
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #ff4444; /* Red text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: absolute; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 1%; /* Position the snackbar */
  top: 70px; /* 70px from the top */
  animation: shake 0.5s;
  z-index: 100;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
