<div>
<mat-toolbar color="primary">
  <button  class="logo" mat-button (click)="homeLink()" title="Home">
    <img src="assets/images/barista_logo_coffee_left.png" width="100%">
  </button>
  <span class="fill-space"></span>
  <button *ngIf="isLoggedIn" mat-button (click)="dashboardLink()" type="submit" [class.clicked]="onDash">Dashboard</button>
  <button *ngIf="isLoggedIn" mat-button (click)="myProjectLink()" type="submit" [class.clicked]="onProj">Projects</button>
  <app-help-menu title="Help"></app-help-menu>
  <span *ngIf="isLoggedIn && isAdmin">
      <button mat-button [matMenuTriggerFor]="adminMenu" title="Admin Tools">
         <mat-icon class="routeIcon">how_to_reg</mat-icon>
      </button>
      <mat-menu #adminMenu="matMenu">
        <button mat-menu-item *ngFor="let item of navItems" [item]="item" [routerLink]="item.route"><mat-icon class="routeIcon">{{item.iconName}}</mat-icon>{{item.displayName}}
        </button>
      </mat-menu>
    </span>
  <span *ngIf="isLoggedIn">
    <span>
      <button mat-button [matMenuTriggerFor]="profileMenu" title="Profile">
        <img src="assets/images/person-circle-outline.svg"/>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>
          <span type="button" mat-button (click)="logout()">Logout [{{userName}} ({{role}})]</span>
        </button>
      </mat-menu>
    </span>
  </span>
  <form>
    <span *ngIf="!isLoggedIn">
      <input matInput placeholder="Username" [(ngModel)]="username" name="username" ><br>
      <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password">
    </span>
    <button *ngIf="!isLoggedIn" mat-button (click)="signin()" type="submit">Login</button>
  </form>
</mat-toolbar>

  <div id="error" *ngIf="!!message && !isLoggedIn">
    {{message}}
  </div>
</div>
