<div class="flex-grid" fxFlex>
    <div class="col">
        <mat-card>
          <mat-card-content>
          <div *ngIf="!topComponentLicenseData || topComponentLicenseData.length < 1">
              <h2> No data. </h2>
          </div>
          <app-bar-chart
              *ngIf="topComponentLicenseData"
              [data]="topComponentLicenseData"
              [legend]="true"
              [legendTitle]="'Data:'"
              [xAxisLabel]="'Licenses'"
              [yAxisLabel]="'License Count'"
          >
          </app-bar-chart>
          </mat-card-content>
        </mat-card>

    </div>
    <div class="col">
        <div class="image">
            <img src="assets/images/barista.png">
        </div>
        <div class="button">
            <button mat-button-raise class="button">Get Started</button>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">
        <mat-card>
          <mat-card-content>
          <div *ngIf="!topComponentScansData || topComponentScansData.length < 1">
              <h2> No data. </h2>
          </div>
          <app-bar-chart
              *ngIf="topComponentScansData"
              [data]="topComponentScansData"
              [legend]="true"
              [legendTitle]="'Data:'"
              [xAxisLabel]="'Licenses'"
              [yAxisLabel]="'License Count'"
          >
          </app-bar-chart>
          </mat-card-content>
        </mat-card>

    </div>
    <div class="col">
        <mat-card>
            <mat-card-content>
                <div *ngIf="!projectsAddedMonthly || projectsAddedMonthly.length < 1">
                    <h2>No Data</h2>
                </div>
                <app-pie-chart
                    *ngIf="projectsAddedMonthly"
                    [data]="projectsAddedMonthly"
                    [legend]="true"
                    [legendTitle]="'Data'"
                >
                </app-pie-chart>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col">
        <mat-card>
            <mat-card-content>
                <div *ngIf="!monthlyProjectScans || monthlyProjectScans.length < 1">
                    <h2>No Data</h2>
                </div>
                <app-pie-chart
                    *ngIf="monthlyProjectScans"
                    [data]="monthlyProjectScans"
                    [legend]="true"
                    [legendTitle]="'Data'"
                >
                </app-pie-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>
