.flex-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10 30 10px;
}

/* 2x2 Grid */
.flex-grid .col {
    flex: 50%;
    max-width: 50%;
    max-height: 50%;
}

/* Responsive, 1x1 Grid for pages <= 800px*/
@media (max-width: 800px) {
    .flex-grid .col {
        flex: 100%;
        max-width: 100%;
    }
}