<div class="flex-grid" fxFlex>
  <div class="row">
    <app-banner
      [isLoggedIn]="isLoggedIn"
      (changeDatasetEvent)="receiveDataset($event)"
    >
    </app-banner>
  </div>
  <div class="row">
    <div class="col">
      <app-chart-gauge
        [threshold]= "vulnerabilityThreshold"
        [dataset]="highVulnerability"
        [title]="'High Vulnerability Index'"
      >
      </app-chart-gauge>
    </div>
    <div class="col">
      <app-chart-gauge
        [threshold]= "licenseThreshold"
        [dataset]="licenseNonCompliance"
        [title]="'License Risk Index'"
      >
      </app-chart-gauge>
    </div>
  </div>
  <div class="row">
     <div class="col">
      <app-chart-bar-horizontal
        [dataset]="topVulnerabilities"
        [title]="'Top 10 Vulnerabilities'"
        [description]="'This chart displays the top vulnerabilities in order of count, and not by severity. The higher the
        count, the more prevelant that vulnerability is in our database.'"
      >
      </app-chart-bar-horizontal>
    </div>
    <div class="col">
      <app-chart-bar-horizontal
        [dataset]="topComponentLicenseData"
        [title]="'Top 10 Component Licenses'"
        [description]="'This graph shows the 10 licenses that are most widely used across our organization\'s scanned
        projects.
        From this, we can see the kinds of open source development, and potentially even the kinds of
        projects being worked on.
        If our organization has a high number of non-permissive licenses in our projects, there could be
        some changes needed to adopt a more open-source development strategy.'"
      >
      </app-chart-bar-horizontal>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-chart-bar-vertical
        [dataset]="projectsAddedMonthly"
        [title]="'Monthly Projects'"
        [description]="'How many projects have been created by month. Sorted by month, not by count.'"
      >
      </app-chart-bar-vertical>
    </div>
    <div class="col">
      <app-chart-bar-vertical
        [dataset]="monthlyProjectScans"
        [title]="'Monthly Scans'"
        [description]="'Number of scans done by month. Sorted by month, not by count.'"
      >
      </app-chart-bar-vertical>
    </div>
  </div>
</div>