.chart-text {

}

.flex-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 0px;
    list-style: none;
}

.flex-item {
    margin: 30px;
}