<div class="flex-grid" fxFlex>
  <div class="row">
    <!-- Banner -->
    <div class="banner">
      <div *ngIf="!isLoggedIn">
        <div class="image">
          <img src="assets/images/barista_logo_text_removed.png">
        </div>
        <div class="mat-headline banner_text" style="text-align: center;">
          Open Source Governance <br> Ensuring You Always Have a Great Brew
        </div>
        <div class="button">
          <a mat-raised-button [href]="'https://optum.github.io/barista/'" target="_blank">
            <span>
              Learn More
            </span>
          </a>
        </div>
      </div>
      <div class="row button-toggle" *ngIf="isLoggedIn">
        <mat-button-toggle-group value="Organization">
          <div class="button">
            <mat-button-toggle (click)="changeDataset()" value="User" style="margin-right: 5px;"><span>User</span></mat-button-toggle>
          </div>
          <div class="button"> 
            <mat-button-toggle (click)="changeDataset('%')" value="Organization" style="margin-left: 5px;"><span>Organization</span></mat-button-toggle>
          </div>
        </mat-button-toggle-group>
      </div>
    </div>
    <!-- End of Banner -->
  </div>
  <div class="row">
    <!-- Column 1 -->
    <div class="col">
      <mat-card>
        <mat-card-title>
          <div>
            High Vulnerability Index
            <span style="float:right;">
              <a class="info">
                <img src="assets/images/help-circle-outline.svg" />
                <span>
                  <mat-card>
                    <mat-card-content>
                      <h3>Index Thresholds</h3>
                      Low: < {{vulnerabilityThreshold.low}}<br>
                      Medium: < {{vulnerabilityThreshold.medium}}<br>
                      High: < {{vulnerabilityThreshold.high}}<br>
                      Critical: > {{vulnerabilityThreshold.high}}
                    </mat-card-content>
                  </mat-card>
                </span>
              </a>
            </span>
          </div>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="isLoading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          <div *ngIf="!highVulnerability || highVulnerability.length < 1">
            <h2> No data. </h2>
          </div>
          <app-gauge-chart *ngIf="highVulnerability && !isLoading" 
            [data]="highVulnerability"
            [max]="100"
            [angleSpan]="240"
            [startAngle]="-120"
            [max]="this.vulnerabilityThreshold.high"
          >
          </app-gauge-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End of Column 1 -->
    <!-- Column 2 -->
    <div class="col">
      <mat-card>
        <mat-card-title>
          <div>
            License Risk Index
            <span style="float:right;">
              <a class="info">
                <img src="assets/images/help-circle-outline.svg" />
                <span>
                  <mat-card>
                    <mat-card-content>
                      <h3>Index Thresholds</h3>
                      Low: < {{licenseThreshold.low}}<br>
                      Medium: < {{licenseThreshold.medium}}<br>
                      High: < {{licenseThreshold.high}}<br>
                      Critical: > {{licenseThreshold.high}}
                    </mat-card-content>
                  </mat-card>
                </span>
              </a>
            </span>
          </div>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="isLoading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          <div *ngIf="!licenseOnCompliance || licenseOnCompliance.length < 1">
            <h2> No data. </h2>
          </div>
          <app-gauge-chart *ngIf="licenseOnCompliance && !isLoading" 
            [data]="licenseOnCompliance"
            [angleSpan]="240"
            [startAngle]="-120"
            [max]="this.licenseThreshold.high"
            >
          </app-gauge-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End of Column 2 -->
  </div>
  <div class="row">
     <!-- Column 4 -->
     <div class="col">
      <mat-card>
        <mat-card-title>
          <div>
            Top 10 Vulnerable Components
            <span style="float:right;">
              <a class="info">
                <img src="assets/images/help-circle-outline.svg" />
                <span>
                  <mat-card>
                    <mat-card-content>
                      This chart displays the top vulnerabilities in order of count, and not by severity. The higher the
                      count, the more prevelant that vulnerability is in our database.
                    </mat-card-content>
                  </mat-card>
                </span>
              </a>
            </span>
          </div>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="isLoading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          <div *ngIf="!topVulnerabilities || topVulnerabilities.length < 1">
            <h2> No data. </h2>
          </div>
          <app-horizontal-bar-chart *ngIf="topVulnerabilities && !isLoading" [data]="topVulnerabilities" [legend]="true"
            [legendTitle]="'Components:'" [xAxisLabel]="'Count'">
          </app-horizontal-bar-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End of Column 4 -->
    <!-- Column 3 -->
    <div class="col">
      <mat-card>
        <mat-card-title>
          <div>
            Top 10 Component Licenses
            <span style="float:right;">
              <a class="info">
                <img src="assets/images/help-circle-outline.svg" />
                <span>
                  <mat-card>
                    <mat-card-content>
                      This graph shows the 10 licenses that are most widely used across our organization's scanned
                      projects.
                      From this, we can see the kinds of open source development, and potentially even the kinds of
                      projects being worked on.
                      If our organization has a high number of non-permissive licenses in our projects, there could be
                      some changes needed to adopt a more open-source development strategy.
                    </mat-card-content>
                  </mat-card>
                </span>
              </a>
            </span>
          </div>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="isLoading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          <div *ngIf="!topComponentLicenseData || topComponentLicenseData.length < 1">
            <h2> No data. </h2>
          </div>
          <app-horizontal-bar-chart *ngIf="topComponentLicenseData && !isLoading" [data]="topComponentLicenseData" [legend]="true"
            [legendTitle]="'Licenses:'" [xAxisLabel]="'Count'">
          </app-horizontal-bar-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End of Column 3-->
  </div>

  <div class="row">
    <!-- Column 5 -->
    <div class="col">
      <mat-card>
        <mat-card-title>
          <div>
            Monthly Projects
            <span style="float:right;">
              <a class="info">
                <img src="assets/images/help-circle-outline.svg" />
                <span>
                  <mat-card>
                    <mat-card-content>
                      How many projects have been created by month. Sorted by month, not by count.
                    </mat-card-content>
                  </mat-card>
                </span>
              </a>
            </span>
          </div>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="isLoading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          <div *ngIf="!projectsAddedMonthly || projectsAddedMonthly.length < 1">
            <h2> No data. </h2>
          </div>
          <app-bar-chart *ngIf="projectsAddedMonthly && !isLoading" [data]="projectsAddedMonthly" [legend]="true"
            [legendTitle]="'Months:'" [xAxisLabel]="'Month'" [yAxisLabel]="'Count'">
          </app-bar-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End of Column 5 -->
    <!-- Column 6 -->
    <div class="col">
      <mat-card>
        <mat-card-title>
          <div>
            Monthly Scans
            <span style="float:right;">
              <a class="info">
                <img src="assets/images/help-circle-outline.svg" />
                <span>
                  <mat-card>
                    <mat-card-content>
                      Number of scans done by month. Sorted by month, not by count.
                    </mat-card-content>
                  </mat-card>
                </span>
              </a>
            </span>
          </div>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="isLoading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          <div *ngIf="!monthlyProjectScans || monthlyProjectScans.length < 1">
            <h2> No data. </h2>
          </div>
          <app-bar-chart *ngIf="monthlyProjectScans && !isLoading" [data]="monthlyProjectScans" [legend]="true"
            [legendTitle]="'Months:'" [xAxisLabel]="'Month'" [yAxisLabel]="'Count'">
          </app-bar-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End of Column 6 -->

  </div>
</div>