/* You can add global styles to this file, and also import other style files */
//
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';

@import './assets/sass/spacing-helpers.scss';

mat-card {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
