//
//.content-card {
//  box-sizing: border-box;
//}

.field {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.mat-card {
  .mat-card-header {
    .mat-card-title {
      h1 {
        margin: 0px;
      }
    }
  }
}