<div class="signin-page">
  <form>
    <mat-card class="signin-card">
      <mat-card-title>
        <mat-card-title><strong>Sign In</strong></mat-card-title>
      </mat-card-title>

      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <br/>

        <mat-form-field class="full-width">
          <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button (click)="signin()" color="primary" type="submit">Sign In</button>
      </mat-card-actions>

      <mat-card-footer *ngIf="!!message">
        <strong class="error">{{message}}</strong>
      </mat-card-footer>
    </mat-card>
  </form>
</div>
