
@use '~@angular/material' as mat;
@import 'variables';


$red: mat.define-palette(mat.$red-palette);
$yellow: mat.define-palette(mat.$yellow-palette);
$green: mat.define-palette(mat.$green-palette);
$grey: mat.define-palette(mat.$grey-palette);

.red-icon {
  color: mat.get-color-from-palette($red, 700);
}

.yellow-icon {
  color: mat.get-color-from-palette($yellow, 700);
}

.green-icon {
  color: mat.get-color-from-palette($green);
}

.unknown-icon {
  color: mat.get-color-from-palette($grey);
}
