.banner {
    width: 80%;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }
  
  .button {
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2%;
    text-align: center;
  
    mat-button-toggle {
        color: $primary-color;
        background-color: $accent-color;
        width: 15vw;
        height: 6vh;
        border-radius: 5px;
        span {
            font-size: large;
        }
    }
  
    .mat-button-toggle-checked {
        color: $secondary-color;
        background-color: #785548;
    }
  
    a {
        color: $primary-color;
        display: flex;
        background-color: $accent-color;
        justify-content: center;
        align-items: center;
        width: 15vw;
        height: 6vh;
        margin-left: $column-margin;
        margin-right: $column-margin;
        margin-top: $column-margin;
        border-radius: 5px;
        span {
            font-size: large;
        }
    }
  }
  
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    padding-bottom: 1%;
  }
  
  .banner_text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $accent-color;
  }