<app-datagrid
  #searchProjectsDataTable
  [records]="projects"
  [columns]="columns"
  styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
  [initialFilter]="initialFilter"
  (onRowSelected)="onRowSelect($event)"
  [defaultSortField]="'name'"
  [defaultSortOrder]="1"
  [enableCaptionHeader]="true"
  [tableLoading]="loading"
></app-datagrid>

<ng-template #nameTemplate let-row="rowData">
  {{ getName(row) }}
</ng-template>

<ng-template #licenseStatusTemplate let-row="rowData">
  <app-project-scan-status-type [statusCode]="row.latestLicenseStatus"></app-project-scan-status-type>
</ng-template>

<ng-template #securityStatusTemplate let-row="rowData">
  <app-project-scan-status-type [statusCode]="row.latestSecurityStatus"></app-project-scan-status-type>
</ng-template>
