<app-datagrid
  #searchProjectsDataTable
  [records]="projects"
  [columns]="columns"
  styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
  [tableLoading]="loading"
  [initialFilter]="initialFilter"
  (onRowSelected)="onRowSelect($event)"
></app-datagrid>

<ng-template #nameTemplate let-row="rowData">
  {{ getName(row) }}
</ng-template>

<ng-template #statusTemplate let-row="rowData">
  <app-project-status-normal [project]="{ id: row.id }"></app-project-status-normal>
</ng-template>
