.chart-container {
    position: relative;
    top: 10px;
    bottom: 30px;
    left: 0px;
    right: 0px;
}

.chart {
    height: 100%;
    width: 100%;
    padding-bottom: 50%; // allows resizing within container
}