.chart-container {
    //position: relative;
    align-items: center;
    // border: 1px aqua solid;
}

.chart {
    //height: 100%;
    width: calc(100% - 30px);
    padding-bottom: 50%; // allows resizing within container
}