.content-card {
  width: 100%;

  .content-header {
    width: 100%;

    ::ng-deep .mat-card-header-text {
      display: flex;
      width: 100%;
    }
  }

  mat-card-title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .scan-btn {
      display: inline-flex;
      margin-left: auto;
      justify-content: center;
      margin-right: 0.5rem;
    }
    .branch-select {
      width: 400px;
    }
  }
}

.scan-progress {
  margin-left: 0.5rem;
  display: inline-flex;

  .animate {
    animation: spin 2s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}
